*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.dashboard{
    width:100%;
    height:auto;
    
    display: flex;

}
.sidebar{
    width: 20%;
    background-color: bisque;
    height: 100vh;
    
    
}
.content-container{
    
    height: 100vh;
    width:80%;
    display: block;
}
.sidebar-header{
    padding-left: 10px;
    font-size: 34px;
    color:white;
}
.sidebar-header a{
   text-decoration: none;
    color:white;
}
.sidebar-menu{
    padding-left: 10px;
}
.menu{
    display:block;
    padding: 6px 2px 10px 10px;
    margin-top: 8px;
    border-radius: 2px;
border-bottom: 1px solid gray;
}
.menu:hover{
    background-color: gray;
}
.content-container-header,.sidebar-header{
    height: 90px;
    display: flex;
    align-items:center ;
    background-color: #c4c4c4;
}
.content-container-header{
    justify-content: flex-end;

}
.profile-holder img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: aliceblue;
    margin-right: 10px;
}
.menu-item{
    font-size: 24px;
}
.menu-item:hover{
    cursor: pointer;
}
.content-container-content{
    display:flex;
    
}
.form-horizontal{
    margin-left: 25px;
    max-width: 400px;
   
    color: rgb(214, 233, 233);
    letter-spacing: 1px;
}