@media (max-width: 300px) {
  .nav {
    text-align: center;
    margin-top: 20px;
    width: auto;
  }
}
nav a {
  text-decoration: none;
  color: #002e5b;
  font-size: 18px;
  padding: 25px 35px;
  display: inline-block;
  transition: all 0.5s ease 0s;
}
header {
  justify-content: space-between;
  overflow: visible;
  display: flex;
  align-items: center;
  background-color: #c4c4c4;
  height: 80px;
  padding-left: 2%;
  width: 100%;
  position: fixed;
}
#logo {
  color: #002e5b;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  cursor: pointer;
}

.u {
  text-align: left;
  height: 234px;
  width: 100%;
  background-color: #f5b02e;
  background-image: -moz-element("p.jpg");
}

nav a:hover {
  background-color: #002e5b;
  color: aqua;
  transition: all 05s ease 0s;
}
#logo:hover {
  background-color: #002e5b;
  color: aqua;
  transition: all 05s ease 0s;
}

.home {
  display: flex;
  background: url("./Best-Blogging-Resources\ \(1\).jpeg") no-repeat center;
  height: 100vh;
  width: 100%;
  
  font-family: Arial, Helvetica, sans-serif;
}
.home .max-width .home-content {
  color: rgb(214, 233, 233);
  letter-spacing: 1px;
  line-height: 40px;
  font-size: 18px;
  margin-bottom: 1px;
  margin-top: 400px;
  margin-left: 40px;
  align-items: left;
}
.about {
  height: fit-content;
  width: 100%;
  padding: 100px 0px;
  background-color: rgb(25, 26, 26);
}
.about-text {
  width: 550px;
}
.about img {
  height: auto;
  border-radius: 5%;
  width: 430px;
}
.main {
  width: 1130px;
  max-width: 95%;
  margin-left: 10 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about-text h2 {
  color: white;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.about-text h5 {
  color: white;
  letter-spacing: 2px;
  font-size: 25px;
  margin-bottom: 25px;
  text-transform: capitalize;
}
.about-text p {
  color: rgb(214, 233, 233);
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}
button {
  background-color: aqua;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  transition: 0.4s;
  border-radius: 30px;
}
.botton:hover {
  background-color: transparent;
  border: 2px solid aqua;
  cursor: pointer;
  transition: all 05s ease 0s;
}
@media screen and (max-width: 850px) {
  .about {
    display: flex;
    flex-direction:inherit;
  }
  .main{
    width:10%;
    justify-content: center;
    height:fit-content;
    margin: 0 auto;
  }
}
/* skills &experiancess styling*/
section {
  padding: 40px 0;
}
.skills {
  color: rgb(214, 233, 233);
  background-color: #1f2022;
}

.skills .skills-content {
  display: flex;
  flex-wrap: wrap;
  margin-left: 25px;
  align-items: center;
  justify-content: space-between;
}
.skills .title {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
}

/*contact me styling*/
body {
  margin: 0;
  padding: 0;
  background-color: #171718;
  padding-bottom: 100px;
}

#contact {
  width: 100%;
  height: 100%;
}

.section-header {
  text-align: center;
  margin-left: 90px;
  margin-top: 20px;
  color: rgb(214, 233, 233);
  text-transform: uppercase;
  letter-spacing: 6px;
}

.contact-wrapper {
  display: flex;
  width: 100%;
  margin-left: 25px;
  margin-top: 5px;
}

/* Left contact page */
.form-horizontal {
  /*float: left;*/
  width: 50%;
  margin-top: 40px;
  font-family: "Lato";
  font-weight: 400;
}

.form-control {
  max-width: 400px;
  background-color: #171718;
  color: rgb(214, 233, 233);
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.alt-send-button {
  width: 400px;
  height: 34px;
  transition: all 0.2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px "Lato", sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px "Lato", sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 10px;
}

.phone {
  margin-left: 10px;
}

.gmail {
  margin-left: 10px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}

/* Social Media Icons */
.social-media-list {
  font-size: 22px;
  text-align: center;
  width: 100%;
  display: flex;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  display: inline-block;
  height: 60px;
  width: 60px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27, 27, 27);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.social-media-list li:after {
  content: "";
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all 0.2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff;
}

.social-media-list li:hover:after {
  opacity: 1;
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list li:hover a {
  color: rgb(177, 33, 206);
}

.copyright {
  font: 200 14px "Oswald", sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(37, 223, 192, 0.6);
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  .direct-contact-container,
  .form-horizontal {
    margin: 0 auto;
  }

  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {
  .direct-contact-container,
  .form-wrapper {
    float: none;
    margin: 0 auto;
  }
  .form-control,
  textarea {
    margin: 0 auto;
  }

  .name,
  .email,
  textarea {
    width: 280px;
  }

  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }

  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}
/*blog styling*/
.blog-section {
  width: 100%;
  background-color: #1f2022;
}
.container-card {
  margin-left: 25px;
}
.container-card-1 {
  display: flex;
}
.blog-card img {
  width: 90%;
  border-radius: 4%;
  box-shadow: aqua;
  height: 200px;
}
.blog-card div {
  width: 90%;
  color: rgb(214, 233, 233);
  margin-top: 15px;
}
.blog-card h5 {
  color: rgb(88, 230, 230);
}
.blog-card {
  margin: 10px;
  padding: 15px;
  border-radius: 3%;
  border: 1px solid gray;
  box-shadow: 2px 3px 0px gray;
}
.container-card-2 {
  display: flex;
}

.blog-section .blog-card {
  width: 33.3%;
}
.blog-icon .icon-container {
  padding-right: 35px;
}
.blog-icon .icon-container .counts {
  font-size: 14px;
}
.blog-icon span i {
  padding-right: 5px;
}

/*footer styling*/

.footer-dark h3 {
  display: flex;
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark {
  padding: 50px 0;
  color: rgb(214, 233, 233);
  background-color: #000;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

@media (max-width: 57px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}
.col-md-6 item text:hover {
  background-color: rgb(255, 255, 255);
  color: #1f2022;
}

.footer-dark .item.text {
  margin-bottom: 36px;
}

@media (max-width: 767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer-dark .item.social {
  text-align: center;
}

@media (max-width: 991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}

.footer-dark .item.social > a {
  font-size: 20px;
  padding: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-flexbox;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #002e5b;
  opacity: 0.75;
}

.footer-dark .item.social > a:hover {
  color: aqua;
  opacity: 0.9;
}

.footer-dark .copyright {
  color: rgb(214, 233, 233);
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}
.direct-contact-container1 {
  display: flexbox;
  align-content: center;
  justify-content: space-between;
}
footer .form-control {
  background-color: #2a343d;
  align-content: center;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
  border: palegoldenrod;
  resize: none;
  width: 80%;
  color: wheat;
  padding: 0.7em 1em;
}
/*reponsive media query start*/
@media (max-width: 1300px) {
  .home .max-widht {
    margin-left: 0px;
  }
}
@media (max-width: 1104px) {
  .abut .about-content .left img {
    height: 300px;
    margin-left: 25px;
    width: 300px;
    object-fit: cover;
  }
}
@media (max-width: 991px) {
  .home .max-widht {
    margin-left: 0 50px;
  }
}
